{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}
{% block feed %}
{% for travel in travels.items %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ travel.date_posted.strftime('%Y-%m-%d') }}</small>
            <small class="text-muted">{{travel.user_id }}</small>

        </div>
        <h2><a class="article-title" href="{{ url_for('travels.travel', travel_id=travel.id) }}">{{ travel.destination
            }}</a></h2>
        <p class="article-content">Type of travel: {{ travel.description }}</p>
         <p class="article-content">Budget: {{ travel.budget }}</p>
        <p class="article-content">Email creator: {{ travel.user_email }}</p>

    </div>
</article>
{% endfor %}
{% endblock feed %}